

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | Let's watch movie!!!</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    /*$(document).ready(function() {
        setTimeout("init()",20);
	});*/

    $(document).ready( function() {
        $('div.score').each(function() {
            //setTimeout("init()",20);
            init.call($(this));
        });
    });
    function getAction() {
        var action = "{% url 'home' %}"
        console.log("btn click");
        $("#formId").attr("action", action);
        //$("#formId").submit();
    }

    
</script>
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a href="/">Let's watch movie!!!</a>
        </h1>
    </div>
    <div class="header-user">
            <div class="user-text">Welcome {{ user.username }}</div>
               
    </div>
    <div class="container post post-detail" style="width: 750px;">
        
            <div class="post-heading" style="text-align:center;">
                <h1 class="title">Rank</h1>
                <!-- <div class="date">{{ post.created_at|date:'Y / m / d' }}</div> -->
            </div> 
            <div style="padding: 0 50px 0 50px;">
            {% for rank, num in rank_list %}
                <div >
              <!-- <div class="date" value="">TOP</div> -->
              <!-- <img src="{{post.photo}}" class="topImage"> -->
                <div style="display: inline;" class="rank-num">{{num}}</div>
                <div style="display: inline;"><img src="{{rank.photo}}"  class="rank-photo"></div>
                <div style="display: inline-block;" class="rank-text" >
                    <a href="{% url 'post_detail' pk=rank.pk %}">{{rank.title}}</a>
                </div>
                {% if rank.movie_score > 59 %}
                    <h2 class="title" style="display: inline-block;color: #00DD00">{{rank.movie_score}} </h2>
                {% else %}
                    <h2 class="title" style="display: inline-block;color: #FF0000">{{rank.movie_score}} </h2>
                {% endif %}
                <div style="display: inline-block;" class="rank-score">%</div>
                
              </div>
            {% endfor %}
            </div>
            <div class="comment-button-div">
                <button class="button" onclick="location.href='/'">BACK TO HOME</button>
            </div>
    </div>

    

    

    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    <script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>
</body>
</html>