

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>{{ post.title }} | Let's watch movie!!!</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" charset="utf-8">
    <link href="//fonts.googleapis.com/css?family=Lemon" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    /*$(document).ready(function() {
        setTimeout("init()",20);
	});*/

    $(document).ready( function() {
        $('div.score').each(function() {
            //setTimeout("init()",20);
            init.call($(this));
        });
    });
function getAction() {
    var action = "/selection"
    console.log("btn click");
    $("#formId").attr("action", action);
	$("#formId").submit();
}
	
</script>
</head>
<body>
    <div class="header">
        <h1 class="site-title text-center">
            <a >Let's watch movie!!!</a>
        </h1>
    </div>
    <div class="container post post-detail" style="width: 600px;">
        
            <div class="post-heading" style="text-align:center;">
                <h1 class="title">Register</h1>
                <!-- <div class="date">{{ post.created_at|date:'Y / m / d' }}</div> -->
            </div> 
            <div ></div>
            
                {% block content %}
                <form method="post" id="formId" action="{% url 'register' %}" class="login-content" >
                {% csrf_token %}
                <div style="padding: 0 200px 0 150px;">
                    <div class="register-content" style="text-align: right;word-break: break-all;">
                        {{ userForm.as_p }}
                    </div>
                </div>
                <input class="button" type="submit" value="Send" >
                </form>
                {% endblock %}
            
            </div>
    </div>

    

    

    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
    <script src="//djangogirlstaipei.github.io/assets/js/map.js"></script>
</body>
</html>